.infopoint .bold {
  font-weight: bold;
}

.infopoint .cancelled {
  text-decoration: line-through;
  text-decoration-thickness: 1px;
}

.infopoint .boldCancelled {
  font-weight: bold;
  text-decoration: line-through;
  text-decoration-thickness: 1px;
}
